<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-left:0;" class="span4 field">
    <%= f.label :title, "Título da vaga:" %>
    <%= f.text_field :title %>
  </div>
  <div class="span4 field">
    <%= f.label :company_name, "Nome da empresa:" %>
    <%= f.text_field :company_name %>
  </div>
  <div style="margin-left:0;" class="span4 field">
    <%= f.label :website, "Tem site? Manda ae:" %>
    <%= f.text_field :website %>
  </div>
  <div class="span4 field">
    <%= f.label :category %>
    <%= f.select :category, [["Selecione uma categoria", 0]]+ @categories.collect { |c| [c.name, c.id]}, :class=>"span4"  %>
  </div>
  <div class="field">
    <%= f.label :description %>
    
    <%= f.cktext_area :description, :ckeditor => {:uiColor => "#f4f4f4", :toolbar => "mini"} %>
  </div>
  <div class="field">
    <%= f.label :company_description %>
    <%= f.cktext_area :company_description, :ckeditor => {:uiColor => "#f4f4f4", :toolbar => "mini"} %>
  </div>
  <div class="field">
    <%= f.label :keywords, "Palavras chave:" %>
    <%= f.text_field :keywords %>
  </div>
  <div style="margin-left:0;" class="span4 field">
    <%= f.label :apply_email %>
    <%= f.text_field :apply_email %>
  </div>
  <div class="span4 field">
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :terms %>
    <%= f.check_box :terms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
