<div class="section-head">
  <div class="container">
    <h1>Ultimos envios</h1>
  </div>
  <!-- /.container --> 
</div>
<!-- /.section-head -->
<div class="container inner">
  <div class="row">
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.company_name %></td>
        <td><%= job.website %></td>
        <td><%= job.category %></td>
        <td><%= job.company_description %></td>
        <td><%= job.keywords %></td>
        <td><%= job.apply_email %></td>
        <td><%= job.contact %></td>
        <td><%= job.terms %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    </div>
      <!-- /.row -->
  <div class="text-center"> <a href="#" class="btn btn-blue"><i class="icon-paper-plane rp15"></i> Hire Us</a> </div>
    </div>
    <!-- /.container -->
