<div class="section-head">
  <div class="container">
    <h1>Ultimos envios</h1>
  </div>
  <!-- /.container -->
</div>
<!-- /.section-head -->
<div class="container inner">
  <div class="row">
  <div class="span8">
    <% @jobs.each do |job| %>
      <div class="span7">
        <%= job.name_and_category %>
        <%= link_to job do %>
            <h1><%=job.title%></h1>
        <% end %>
        <div>
            <%= job.created_at.to_s(:post) %>
        </div>
        <div>
            <span><%= job.description.html_safe %></span>
        </div>
        <div class="right">
          <%= link_to "Ver mais", job %>
        </div>

      </div>
    <% end %>
  </div>
  <div class="span4">
      <% @ads.each do |ad| %>
        <p>
          <%= ad.title %>
        </p>
        <p>
          <%= ad.desc %>
        </p>
      <% end %>
  </div>
</div>
<!-- /.container -->
