<div class="section-head">
  <div class="container">
    <h1>Ultimos envios</h1>
  </div>
  <!-- /.container --> 
</div>
<!-- /.section-head -->
<div class="container inner">
  <div class="row">
  <div>
    <% @jobs.each do |job| %>
        <span><%= job.company_name %></span>/<span><%= job.category %></span>
        <%= link_to job do %>
            <h1><%=job.title%></h1>
        <% end %>
        <div>
            <%= job.created_at.to_s(:post) %>
        </div>
        <div>
            <%= job.description %>
        </div>
        
        <%= link_to "Ver mais", job %>
      
    <% end %>
  </div>


    </div>
      <!-- /.row -->
  <div class="text-center"> <a href="#" class="btn btn-blue"><i class="icon-paper-plane rp15"></i> Hire Us</a> </div>
    </div>
    <!-- /.container -->
