<div class="section-head">
  <div class="container">
    <h1>Ultimos envios</h1>
  </div>
  <!-- /.container --> 
</div>
<!-- /.section-head -->
<div class="container inner">
  <div class="row">
  <div class="span8">
    <% @jobs.each do |job| %>
        <span><%= link_to job.company_name, job.website %></span>/<span><%= job.category %></span>
        <%= link_to job do %>
            <h1><%=job.title%></h1>
        <% end %>
        <div>
            <%= job.created_at.to_s(:post) %>
        </div>
        <div>
            <%= job.description %>
        </div>
        
        <%= link_to "Ver mais", job %>
      
    <% end %>
  </div>
  <div class="span4">
      Outro Lado
  </div>
</div>
<!-- /.container -->
