<div class="section-head">
  <div class="container">
    <h1><%= @job.title %></h1>
  </div>
  <!-- /.container -->
</div>
<!-- /.section-head -->
<div class="container inner">
  <div class="row">
  <div class="span8">
    <p id="notice"><%= notice %></p>

    <p>
      <b>Title:</b>
      <%= @job.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @job.description.html_safe %>
    </p>

    <p>
      <b>Company name:</b>
      <%= @job.company_name %>
    </p>

    <p>
      <b>Website:</b>
      <%= @job.website %>
    </p>

    <p>
      <b>Category:</b>
      <%= @job.category.name %>
    </p>

    <p>
      <b>Company description:</b>
      <%= @job.company_description.html_safe %>
    </p>

    <p>
      <b>Keywords:</b>
      <%= @job.keywords %>
    </p>

    <p>
      <b>Apply email:</b>
      <%= @job.apply_email %>
    </p>

    <%= link_to 'Back', jobs_path %>
  </div>
  <div class="span4">
      Outro Lado
  </div>
</div>
<!-- /.container -->
