<!DOCTYPE html>
<html>
<head>
  <title>StartupJobs Brasil</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
  <link href="/assets/google-code-prettify/prettify.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />
  <link href="/assets/fontello.css" rel="stylesheet" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if lt IE 9]>
<script src="style/js/html5shiv.js"></script>
<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body data-spy="scroll" data-target=".nav-collapse" data-offset="100">
<div class="body-wrapper">
  <div id="header" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".nav-collapse"><i class='icon-menu-1'></i></a><a class="brand logo" href="index.html"><h1>StartupJobs<br><span class="bra">Bra</span><span class="sil">sil</span></h1></a>
        <div class="nav-collapse pull-right collapse">
          <ul class="nav">
            <li><a href="<%= new_job_path %>">Enviar uma vaga</a></li>
            <li><a href="/">Sobre</a></li>
          </ul>
        </div>
        <!-- .nav-collapse --> 
      </div>
      <!-- .container --> 
    </div>
    <!-- .navbav-inner --> 
  </div>
  <!-- .navbar -->
  <section id="home" class="offset">
    
  </section>
  <section id="about" class="light-wrapper">  
    <%= yield %>
  </section>
  <!-- /#about -->
  <footer class="light-wrapper text-center">
    <div class="container inner">
      <p>© 2013 StartUp Jobs - Brasil. All rights reserved. by <a href="http://hue42.biz">Hue42</a></p>
      <ul class="social gray">
        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
        <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
        <li><a href="#"><i class="icon-s-instagram"></i></a></li>
        <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
        <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
      </ul>
      <!-- /.social --> 
    </div>
    <!-- /.container -->
  </footer>
  <!-- /footer -->
</div>
<!--/.body-wrapper--> 
</body>
</html>
